parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        -
            message: '#Trait Wrapkit\\Responses\\Concerns\\ArrayAccessible is used zero times and is not analysed.#'
            identifier: trait.unused
            path: src/Responses/Concerns/ArrayAccessible.php
        -
            message: '#Trait Wrapkit\\Testing\\Concerns\\Fakeable is used zero times and is not analysed.#'
            identifier: trait.unused
            path: src/Testing/Concerns/Fakeable.php
        -
            message: '#Trait Wrapkit\\Testing\\Concerns\\Testable is used zero times and is not analysed.#'
            identifier: trait.unused
            path: src/Testing/Concerns/Testable.php
